
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
    }
    div {
        margin: 20px auto;
        text-align: center;
    }
    #city-input {
        padding: 5px;
        font-size: 16px;
    }
    #search-button {
        padding: 5px 10px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    #search-button:hover {
        background-color: #0056b3;
    }
    #city-name {
        font-size: 24px;
        margin-bottom: 5px;
    }
    #city-time {
        font-size: 14px;
        color: #666;
        margin-top: 0;
    }
    #city-temperature {
        font-size: 48px;
        font-weight: bold;
        color: #333;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .description {
        font-size: 24px;
        color: #666;
        margin-bottom: 5px;
    }
    
